<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barter</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="barterApp">
    <div class="container" ng-view=""></div>
      <script src="lib/angular/angular.js"></script>
      <script src="lib/angular-route/angular-route.js"></script>
      <script src="lib/angularjs-imageupload-directive/public/javascripts/imageupload.js"></script>
      <script src="client/app.js"></script>
      <script src="client/controllers/main.js"></script>
      <script src="client/controllers/post.js"></script>

      <!-- TODO: Mask html key -->
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARWtgpRKSRczhElHyoSxqBhbVbiyo87DY&sensor=false">
      </script>
  </body>
</html>
