<section class='wrapper'>
  <section class='box sidebar login'>
    <h1 class='logo'>Barter</h1>
    <hr/>
    <h1>What is Barter?</h1>
    <p>Barter is an interface that connects you to your community and allows you to trade items with other users and share the story behind them.</p>
    <hr/>
    <h1>Try it out</h1>
    <ol>
      <li>Log in with Facebook</li>
      <li>Browse items within your community with our map</li>
      <li>Find an item you like and start your trade</li>
    </ol>
    <hr/>
    <a href='/auth/facebook'><button>Login with Facebook</button></a>
  </section>
  <section class='login' id='map-canvas' data-ng-init='initialize()'>
  </section>
</section>
