<div class="box" data-ng-init="initialize()">
  <a href="#" ng-click="logout()">Logout</a>
  <h1><a href="#">Barter</a></h1>
  <h4>Take a look in your area:</h4>
  <div id="map-canvas"></div>
  <button ng-click="postRedirect()">Post an item!</button>
  <button ng-click="updateLocation()">Find me!</button>
  <button ng-click="convRedirect()">View messages!</button>
  <div class="newConversation" ng-show="newConversationDisplay">
    <form ng-submit="sendNewConversation(recipient)">
      <p>To: {{recipient.name}}</p>
      <p>Item Name: {{recipient.itemName}}</p>
      <p>Message:</p>
      <input type="text" ng-model="newConversation" placeholder="What did you want to say?"></input>
      <button>Send Message</button>
    </form>
  </div>
  <input type="text" placeholder="Search posts!" autofocus="autofocus" ng-model="searchText"></input>
  <div class="searchPosts" ng-repeat="post in posts | filter:searchText">
    <img src="{{post.image}}"/>
    <h2 id="itemName">Item Name: {{post.itemName}}</h2>
    <h2 id="description">Description: {{post.description}}</h2>
    <h2 id="condition">Condition:  {{post.condition}}</h2>
    <h2 id="name">Contact: {{post.name}}</h2>
    <button id="barterButton">Barter</button>
  </div>
</div>