<div class="box post">
  <h1><a href="#">Barter</a></h1>
  <form ng-submit="postImage()">
    <div>
      What's it called?
      <input type="text" ng-model="itemName" ng-required="true" autofocus="autofocus"></input>
    </div>
    <div>
      Tell us about it.
      <input type="text" ng-model="description" ng-required="true"></input>
    </div>
    <div>
      What's the condition?
      <input type="text" ng-model="condition" ng-required="true"></input>
    </div>
    <div>
      Upload an image!
      <input type="file" accept="image/*" image="image" resize-max-height="300" resize-max-width="250" resize-quality="0.7" ng-required="true"/>
      <p ng-show="image">Is this correct?</p>
      <img ng-show="image" ng-src="{{image.resized.dataURL}}"/>
    <div>
    <button>Submit</button>
    <button type="reset">Clear</button>
  </form>
<div>