// Icons
img.cross
  width 25px
  height 25px
  position absolute
  left 0
  top 0

img.check
  width 20px
  border none
  position absolute
  right 0
  top 0

img.thumb
  width 20px
  border none
  position relative
  right 0
  margin 0

// Created at HR image
.corner
  position fixed
  z-index 100
  top 0
  right 0
  border 0

// Image width
.imageContainer > img
  width 78%

// Spinner gif
.spinner
  position absolute
  left 2em
