input[type='text']
  line-height 1.688rem
  font-size 0.875rem
  box-sizing border-box
  background-clip padding-box
  padding 0
  margin 0
  font inherit
  color inherit
  background transparent
  vertical-align top
  outline none

.replyInput
  width 90%

.searchDashboard
  width 40%
