.wrapper
  width 1080px
  margin 0 auto

body
  margin 0
  background #3A6F85
  padding 10px

.sidebar
  height 39em
  width 40%
  float left
  position relative
  border 5px solid black
  padding 20px
  margin 20px 0
  background-color #DADADA
  text-align center

.sidebar h4
  margin 15px 0
  input
    width 40%

.postsContainer
  padding 5px
  overflow auto
  height 70%

.post, .conversationContainer
  text-align left
  background-color #7FBE6B
  margin 5px
  border 4px solid #6F853A
  border-radius 10px
  overflow hidden
  img
    width 30%
    margin 10px 5px 5px 5px
    border 2px solid #000
    border-radius 20px
    vertical-align top

.post div
  display inline-block

.postText
  width 63%
  height 7em
  overflow auto
  margin-top 0

.post:hover
  background-color #EBF9FB

.conversationsContainer
  padding 1em
  height 31em
  overflow auto

.imageContainer
  display inline-block
  vertical-align top
  text-align center
  height 95%
  width 30%

.conversationContainer
  display block
  text-align left
  height 30%
  width 29em
  background-color #7FBE6B
  padding-bottom 10px
  margin 5px auto
  border 4px solid #6F853A
  border-radius 10px
  overflow hidden
  .deletePost
    display none

.conversationContainer:hover .deletePost
  display inherit

.postForm, .conversations
  width 23em
  border 5px solid black
  padding 20px
  margin auto
  text-align center
  background-color #DADADA

.conversations
  height 39em
  width 34em
  overflow hidden

.postDescription
  position relative
  display inline-block
  overflow auto
  height 100%
  width 65%
  p
    margin 10px 0

.deletePost
  display inline-block

.messageContainer
  text-align left
  overflow auto
  height 75%
  border 1px solid black
  margin 5px
  padding 5px

.postMessage
  width 100%

#fileupload-resize-area
  display none

.login
  height 39em
  z-index -1
  margin 5px
  width 30%
