body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.box {
    margin: 50px auto 0 auto;
    width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 50px;
    text-align: center;
}

.box h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin: auto;
}

.post, .login {
    width: 300px;
}

#map-canvas {
    height: 500px
}

.post input[type='text']{
    margin: auto;
    display: block;
}

.infobox img {
    width: 200px;
}

/*img[src*="google.com/"] {
    display: none;
}*/

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

#fbId, .gm-style-cc, img[src*="https://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png"] {
    display:none;
}

.messageContainer {
/*    background-color: white;
    overflow: auto;
    height: 150px;
*/}