@import url("http://fonts.googleapis.com/css?family=Poiret+One")

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  box-shadow  arguments

body
  margin 0
  background #3A6F85
  font-family 'Poiret One'
  color #333
  font-weight 200
  line-height 19px
  font-size 18px
  padding 10px

#map-canvas
  height 39em
  width 60%
  float left
  border 5px solid black
  padding 20px
  margin 20px 5px 20px 0

.spinner
  position relative
  left -36%
  bottom 37em

.barterLogo
  color black
  text-decoration none
  font-family 'Poiret One'
  font-size 90px

.sidebar
  height 39em
  width 30%
  float left
  border 5px solid black
  padding 20px
  margin 20px 0
  background-color #DADADA
  text-align center

.sidebar h4
  margin 15px 0
  input
    width 40%

.postsContainer
  padding 5px
  overflow auto
  height 70%

.post, .conversationContainer
  text-align left
  background-color #7FBE6B
  margin 5px
  border 4px solid #6F853A
  border-radius 10px
  overflow hidden
  img
    width 30%
    margin 10px 5px 5px 5px
    border 2px solid #000
    border-radius 20px
    vertical-align top

.post div
  display inline-block

.post h2
  line-height 15px
  font-size 13px

.postText
  width 63%
  height 7em
  overflow auto
  margin-top 0

.post:hover
  background-color #EBF9FB

.infobox
  border 2px solid black
  margin-top  8px
  background #333
  color #FFF
  font-family Arial, Helvetica, sans-serif
  font-size 12px
  text-align center
  padding  .5em 1em
  border-radius 2px
  text-shadow 0 -1px #000000
  box-shadow  0 0 8px #000
  img
    border 2px solid #47E
    border-radius 200px
    width 200px

#fbId, #_id, .gm-style-cc, img[src*="https://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png"]
  display none

.underline
  text-decoration underline

button
  font-family 'Poiret One'
  padding 0 0.563rem
  font-size 15px
  line-height 1.313rem
  letter-spacing 0
  color #c6c8c8
  text-shadow 0 -1px rgba(0,0,0,0.69)
  vertical-align top
  background-color #595b5b
  box-shadow inset 0 1px #737373
  border 1px solid #333434
  border-radius 4px

button:hover
  background-color #626465

button:focus
  border 1px solid #0036ff
  box-shadow inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1
  outline 0

button:active
  border 1px solid #333434
  background-color #3f4041
  box-shadow inset 0 1px rgba(0,0,0,0.05)

.postForm, .conversations, .login
  width 350px
  border 5px solid black
  border-radius 20px
  padding 20px
  margin auto
  text-align center
  background-color #DADADA

.conversations
  height 37em
  width 34em
  img
    width 200px

.conversationsContainer
  height 31em
  overflow auto

.conversationContainer
  display block
  text-align left
  height 30%
  width 29em
  background-color #7FBE6B
  margin 5px auto
  border 4px solid #6F853A
  border-radius 10px
  overflow hidden
  button
    display none
    margin 5px
  img
    vertical-align top
    width 30%

.conversationContainer:hover button
  display inherit

.date
  font-size 12px

.postDescription
  display inline-block
  overflow auto
  height 100%
  width 65%

input[type='text']
  line-height 1.688rem
  font-size 0.875rem
  box-sizing border-box
  background-clip padding-box
  padding 0
  margin 0
  font inherit
  color inherit
  background transparent
  vertical-align top
  outline none

#modalMask
  z-index 10
  position fixed
  height 100%
  width 100%
  top 0
  left 0
  background #000
  opacity 0.8

#modal
  z-index 11
  height 10em
  width 300px
  position fixed
  top 50%
  left 50%
  text-align left
  padding 20px
  margin-top -100px
  margin-left -100px
  border 5px solid black
  background-color #DADADA
