#map-canvas
  height 39em
  width 50%
  float left
  border 5px solid black
  padding 20px
  margin 20px 5px 20px 0

#fbId, #_id, .gm-style-cc, img[src*='https://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png']
  display none

#map-canvas.login
  height 39em
  width 50%
  z-index -1
  margin 5px

.infobox
  border 2px solid black
  margin-top  8px
  background #333
  color #FFF
  font-family Arial, Helvetica, sans-serif
  font-size 12px
  text-align center
  padding  .5em 1em
  border-radius 2px
  text-shadow 0 -1px #000000
  box-shadow  0 0 8px #000
  img
    border 2px solid #47E
    border-radius 200px
    width 200px
