.modalMask
  z-index 10
  position fixed
  height 100%
  width 100%
  top 0
  left 0
  background #000
  opacity 0.8

.modal
  z-index 11
  height 10em
  width 18em
  position fixed
  top 50%
  left 50%
  text-align left
  padding 20px
  margin -9em 0 0 -9em
  border 5px solid black
  background-color #DADADA

.conversationModal
  text-align center
  height 70%
  width 50%
  top 20%
  left 30%
  margin -100px 0 0 -100px
