typography.styl

body
  font-family 'Poiret One'
  color #333
  font-weight 200
  line-height 19px
  font-size 18px

.login
  line-height 25px

.logo
  color black
  text-decoration none
  font-family 'Poiret One'
  font-size 90px

.post h2
  line-height 15px
  font-size 13px

.date
  font-size 12px

.underline
  text-decoration underline

.messageContainer
  line-height 13px
