<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Barter</title>
    <link rel='stylesheet' href='styles/main.css'>
  </head>
  <body ng-app='barterApp'>
    <a href='http://hackreactor.com'>
      <img style='position: fixed; z-index: 100; top: 0; right: 0; border: 0; height: 100px'
      src='http://i.imgur.com/x86kKmF.png'
      alt='Built at Hack Reactor'>
    </a>
    <div class='container' ng-view></div>
      <script src='lib/angular/angular.js'></script>
      <script src='lib/angular-route/angular-route.js'></script>
      <script src='lib/angularjs-imageupload-directive/public/javascripts/imageupload.js'></script>
      <script src='lib/markerclusterer/markerclusterer.js'></script>
      <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
      <script type='text/javascript' src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js'></script>
      <script src='lib/OverlappingMarkerSpiderfier/oms.min.js'></script>
      <script src='client/app.js'></script>
      <script src='client/services/map.js'></script>
      <script src='client/controllers/main.js'></script>
      <script src='client/controllers/post.js'></script>
      <script src='client/controllers/conversations.js'></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45802800-1', 'barter-app.herokuapp.com');
        ga('send', 'pageview');

      </script>
  </body>
</html>
